@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;500&display=swap');
:root{
    --white:#FFFFE8;
    --pink:#FFD4D4;
    --ligh-green:#CDE990;
    --dark-green:#AACB73;
    --gray:#7e7e7e;
}

*{
    background-color: var(--white);
    font-family: 'Sofia Sans', sans-serif;
}

#title{
    text-align: center;
    color: var(--gray);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container > div {
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 15px;
}

.flex-container > div h2{
    color: var(--gray);
}

.flex-container .fill p{
    font-size: 20px;
    color: var(--gray);
    text-align: left;
    margin-left: 50px;
}

.flex-container .fill input{
    width: 83%;
    height: 30px;
    border: none;
    border-bottom: 2px solid var(--dark-green);
    font-size: 20px;
    color: var(--dark-green);
}

.flex-container .fill input::placeholder{
    font-size: 20px;
    color: var(--dark-green);
}

.flex-container .fill button{
    background-color: #fff;
    margin-top: 10px;
    width: 43%;
    height: 30px;
    border: 2px solid var(--dark-green);
    border-radius: 2px;
    color: var(--gray);
    font-size: 20px;
}

.flex-container .fill button:hover{
    background-color: var(--pink);
}

.flex-container .show table{
    background-color: var(--dark-green);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.flex-container .show table th{
    background-color: var(--pink);
    color: var(--gray);
    font-size: 20px;
    font-weight: 500;
    height: 25px;
}

.flex-container .show table td{
    background-color: #fff;
    color: var(--gray);
    font-size: 18px;
    font-weight: 500;
    height: 23px;
}